










section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: silver;
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: silver;
}

img {
	border-radius: 50%;

}